*:focus {
    outline:none;
}

body {
	width: 200px;
	height: 220px;
	background-color: #4d4d4d;
}

a:link {
	text-decoration: none;
	text-align: center;
}

#finnAudio {
	text-align: center;
	padding-bottom: 10px;
}

#finnLogo {
	width: 180px;
}

#logoButtons {
	text-align: center;
}

.logo {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

